.Rproj.user
.Rhistory
.RData
.Ruserdata
plots/*
raw-data/*
derived-data/*
model-outputs/*
mtbqsDF.RData
siteInfo.RData
HPC_play.R
play.R
naturraum_Saarland.rds
atlasGrid.csv
gifs/*
mtbqsDF.RData
*.png
alltraits*
alltraits.RData
stateIndices.RData
randomMatrix*
