.Rproj.user
.Rhistory
.Rproj
.RData
.Ruserdata


#ignore large files
plots/*
raw-data/*
derived-data/*
model-outputs/*
model-auxfiles/*
gadm36_DEU_0_sp.rds
state-analysis/*

#random stuff - mostly data files
old/*


#ignore large files with environ data
environ-data/esacci_MTBQ.rds
environ-data/ESACCIlanduse_MTBQ.txt
environ-data/nr_order2.csv
environ-data/protectedarea_MTBQ.rdss

#big spline files
splines/zst.rds
splines/jagam.txt
splines/bugs.data.rds
splines/adultData.rds
splines/simpleGAMS/*
splines/siteInfo_NAs.rds
splines/stan/models/*


